doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type',content='text/html;charset=utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="topBar")
      div(class="body")
    div(class="header")
      div(class="body")
        span(class="logo") 郑
        span 哎呦!不错哦Boom!
        ul
          li
            a 首页
          li
            a 信息
          li
            a 哈哈