include header

div(class="index")
    div(class="banner") 仰望星空
    div(class="body")
        div(class="main border content") asd

        div(class="rightBar border content")
            div(class="nav")
                ul
                    li
                        a 技术
                    li
                        a 爱好
                    li
                        a 巴拉巴拉
                    li
                        a 小魔仙
            div(class="tag")
                ul
                    li
                        a 自行车
                    li
                        a 水族
                    li
                        a JavaScript
                    li
                        a CSS
                    li
                        a HTML